section > * {
  margin: 1rem;
}

.card {
  width: 24%;
  height: 163px;
  background: white;
  color: #3D5161;
  border: none;
  padding: 1.5rem 1rem;
}

.subtitle {
  font-family: 'Montserrat','Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3D5161;
}