
.mat-drawer {
  padding: 1.5rem;
  width: 115px;
  position: fixed;
  background: #FF7F5C;
  color: #ffffffb2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  align-content: center;
  height: 100%;
}

.drawer > div {
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
  align-items: center; 
  align-content: center;
}

.drawer > div * {
  padding: 15px 0;
}

.drawer .mat-icon{
  width:40px;
  height: 40px;
  font-size: 40px;

}