section {
  height: 400px;
  overflow-y: scroll;
}

.card {
  background: white;
  color: #3D5161;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  font-family: 'Montserrat';
}

mat-card-title {
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
}
